<% include partials/header %>
            <div class="row">
                <div class="col error">
                    <h1><%= message %></h1>
                    <h2><%= error.status %></h2>
                    <pre><%= error.stack %></pre>
                    <% include partials/nav %>
                </div>
            </div>
<% include partials/footer %>